<!--
* {
	color: black;
}

TamanoirApp {
	background-color: #292929;
}

QPushButton,QComboBox
{
	background-color: qlineargradient(spread:pad,
		x1:0, y1:0, x2:0, y2:1,
		stop:0.45 #5c5c5c,
		stop:0.55 #454545);
}
QComboBox{
	selection-background-color: #505050;
}



QPushButton,QCheckBox,QComboBox,QStatusBar::title,QLabel {
	color: #E0E0E0;
}

QStatusBar {
	background-color: #303030;
	color: white;
}

QGroupBox {
	background-color: #353535;
	/*border: 1px solid #CCCCCC;*/
}

QGroupBox::title {
	color: #E0E0E0;
}

QLabel::border {
	border: 2pix solid #AAAAAA;
}

QLabel::border {
	border-color: #AAAAAA;
}

QDialog,QFileDialog,QMessageBox {
	background-color: #3F3F3F; /* background-color: #909090;*/
	color: black;
}

QProgressBar::border {
	border: 2px solid #F7F7F7;
	border-radius: 5px;
	background-color: #CCCCCC;
}

QProgressBar::chunk {
	background-color: #AAAAAA;
	width: 5 pix;
}




//-->
