<!--
* {
	color: black;
}

TamanoirApp {
	background-color: #292929;
}

QPushButton,QComboBox
{
	background-color: qlineargradient(spread:pad,
		x1:0, y1:0, x2:0, y2:1,
		stop:0.45 #5c5c5c,
		stop:0.55 #454545);
}
QComboBox{
	selection-background-color: #505050;
}

QDialog {
	color: back;
	alternate-background-color: re

}

QPushButton,QCheckBox,QComboBox,QStatusBar::title,QLabel {
	color: #E0E0E0;
	border-color: red;
	alternate-background-color: white;
	selection-color: red;
	selection-background-color: white;
}

QCheckBox::indicator::checked {
	background-color: #20A020;
	color: white;
}

QCheckBox::indicator::unchecked {
	background-color: #A02020;
	color: black;
}

QStatusBar {
	background-color: #303030;
	color: white;
}

QGroupBox {
	color: #E0E0E0;
	background-color: #353535;
}

QLabel::border {
	border: 2pix solid #AAAAAA;
}

QLabel::border {
	border-color: #AAAAAA;
}

QDialog,QFileDialog,QMessageBox {
	background-color: #3F3F3F; /* background-color: #909090;*/
	color: black;
}

QProgressBar::border {
	border: 2px solid #F7F7F7;
	border-radius: 5px;
	background-color: #CCCCCC;
}
/*
QProgressBar::chunk {
	background-color: #AAAAAA;
	width: 5 pix;
}*/




//-->
