#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1





configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.
	#BUILD_STATIC=true 
	# generate translation file
	lrelease-qt4 tamanoir_fr.ts -qm tamanoir_French.qm
	qmake-qt4 Tamanoir.pro

	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp
	dh_testdir

	# Add here commands to compile the package.
	$(MAKE)
	#docbook-to-man debian/tamanoir.sgml > tamanoir.1

	touch $@

clean: configure
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	# Add here commands to clean up after the build process.
	$(MAKE) clean
	convert -resize 48x48 icon/tamanoir.png debian/tamanoir-desktop.png

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Add here commands to install the package into debian/tamanoir.
	export DESTDIR=$(CURDIR)/debian/tamanoir; \
	install -D -o root -g root -m 0755 tamanoir $$DESTDIR/usr/bin/tamanoir; \
	install -D -o root -g root -m 0644 tamanoir_French.qm $$DESTDIR/usr/share/tamanoir/tamanoir_French.qm; \
	install -D -o root -g root -m 0644 debian/tamanoir.desktop $$DESTDIR/usr/share/applications/tamanoir.desktop; \
	install -D -o root -g root -m 0644 debian/tamanoir-desktop.png $$DESTDIR/usr/share/pixmaps/tamanoir.png


# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
#	dh_install
#	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_python
#	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
